body{
	color:pink;
	background-color:pink;
}


#header{
	height:50px;
	margin-bottom: 10px;
	background-color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
	text-transform: uppercase;


}

#header2{
	color: black;
	font-size: 15px;
	font-style: italic;
	position: relative;

}

#header3{
	color: white;
font-size: 15px;
font-style: italic;
}

#ul{
	color: pink;
	font-size: 20px;
	background-color: white;
	padding: 10px;
	

}

#ol{
	color: white;
	font-size: 20px;

}

#p1{
	color: magenta;
font-style: italic;
font-family: sans-serif;
}

#p2{
	color: lavender;
	font-style: italic;
	font-family: serif;
}

.orange{
	color: orange;
}

.magenta{
	color: magenta;
}

.purple{
	color: purple;
}

.bigger{
	font-size: 35px;
}
