body{
  background-color:white;
}

#wrapper{
  margin: 20px;
  border: black solid;
  padding-bottom: 50px;
  height: 250px;

}

.box{
  margin-top: 40px;
  margin-left: 230px;
  margin-right: 50px;
  border: black 2px solid;
  padding: 20px;
  font-family: georgia; color:white; font-size: 20px;
text-align: center;
  background-color: black;
  width: 780px;
  height: 110px;

}

.fb{
  image width: 10px;
image height: 10px;
float: right;
}

img{
  padding: 10px;
  width: 150px;
margin-top: 10px;
margin-left: 20px;
float: left;
width: 170px;

}

ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  background-color: black;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: georgia;
}
li a:hover {
  background-color: black;
}

.active {
  background-color: red;
}

.boxed{
  border: solid black;
  width: 250px;
  height:400px;
  text-align: center;
  font-family: georgia;
  float:left;
}



.owha{
  float: right;

}
