body{
  background-color:blue;
}

#wrapper{
  margin: 10% 10% 20% 10%;
  border: black 3px solid;
  padding: 5px 5px 0px 0px;
}

.box{
  margin-top:10px;
  margin-right:20px;
  Margin-bottom:15px;
  margin-left: 20px;
  border: green 2px dashed;
  padding: 1px 1px 1px 5px;
  font-family: arial; color:red;

}

img{
  border: 1px dashed pink;
  padding: 10px;
  width: 150px;


}
